@import "tailwindcss";

@keyframes float {
  0%, 100% { 
    transform: translateY(0px); 
  }
  50% { 
    transform: translateY(-10px); 
  }
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}

.animate-float {
  animation: float 6s ease-in-out infinite;
} 